asgiref==3.6.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
distlib==0.3.6
Django==4.1.4
django-bootstrap4==23.1
django-crispy-forms==2.0
filelock==3.9.0
idna==3.4
mysql==0.0.3
mysql-connector-python==8.0.32
mysqlclient==2.1.1
Pillow==9.4.0
platformdirs==2.6.2
protobuf==3.20.3
psycopg2==2.9.5
psycopg2-binary==2.9.6
pypng==0.20220715.0
qrcode==7.4.2
requests==2.30.0
simplejson==3.19.1
soupsieve==2.4.1
sqlparse==0.4.3
typing_extensions==4.5.0
tzdata==2022.7
urllib3==2.0.2
virtualenv==20.17.1
virtualenvwrapper-win==1.2.7
