@import url('https://fonts.googleapis.com/css2?family=Roboto');
* ::before,
*::after{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;   
    
}
   /* css variable */
   :root{
    --primary-color: #6355ca;
    --secondary-color:#f2ac21;
   }

/* Navbar */
/* .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  .fixed-top {
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0 */
    background:#FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo img{
    width: 250px;
    position: absolute;
    top: -60px;
    left: -17px;
    /* left:-55px; */
  }

  .navbar-nav{
    margin-left: 700px;
   
    }
.navbar.bg-light {
        background-color: #FFFFFF;
      }
      .nav-item{
        margin:5px;
      }
.navbar-nav .nav-link{
    font-size: 18px;    
    font-weight: 400;
    color: #000000;
    transition: opacity 0.3s;
    }
    
    .navbar-nav:hover  .nav-link:not(:hover){
    opacity:0.5;
    }

    .apply-now{
        background-color:  var(--primary-color);
        border: 1px solid  var(--primary-color);
        color: #fff 
    
    }
    .apply-now:hover{
    background: var(--primary-color) ;
    border: 1px solid var(--primary-color);
    color: #fff; 
    }

    .apply{
        background-color: #FFFFFF;
        color: var(--primary-color) ; 
        border: 1px solid  var(--primary-color);
        
    }
    .apply:hover{
        background-color:  var(--primary-color);
        border: 1px solid  var(--primary-color);
        color: #fff 
    }
    @media (max-width:855px){
      .navbar-nav{
          margin-left: 20px;
      }
      .navbar-toggler:active{
          border: 0;
      }
  }

/* Hero Section */
.card {
    position: relative;
    border: none;
    border-radius: 0;
  }
  
  .card-img {
    border-image: none;
    border-radius: 0;
    height:650px;
  }
  
  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .text-bg-dark h1 {
    margin-top: 20%;
    font-size: 3rem;
    font-weight: 800 !important;
    font-family: "Nunito", sans-serif;
    color: #fff;
  }
  
.hero {
    /* position: relative; */
    /* padding: 5rem 0; */
    text-align: center;
  }
  .hero-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
  }
  
  /* .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
  } */
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  .hero-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #f2f2f2;
  }
  
  /* Responsive Styles */
  @media (max-width: 767.98px) {
    .text-bg-dark h1{
      font-size: 2rem;
      margin-top: 50%;
    }
  
    .hero p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  
  @media (max-width: 575.98px) {
    .hero h1 {
      font-size: 1.5rem;
    }
  
    .hero p {
      font-size: 0.9rem;
    }
  }

  /* laptop */
  .animated_laptop{
  position: relative;
  width: 100%;
  height: 50vh;
  }
  .wrapper {
    position:absolute;
    top:200px;
    left:700px;
    display:flex;
    align-items:center;
    justify-content:center;
    perspective:1000px;
    z-index: 1;
    transform: translate(-50%, -50%);

}

/******** Laptop ********/

.laptop {
    position:relative;
    animation:laptop 1s 1s ease-out forwards;
    transform-style:preserve-3d;
    transform:scale(0.5);
}

.laptop::before {
    position:absolute;
    content:"";
    top   :60%;
    width :100%;
    height:5rem;
    left  :50%;
    background: radial-gradient(
        #0003,
        #0000 70%
    );
    transform:translate(-50%) scaleY(0.6);
    opacity:0;
    animation: 
        shadow 0.2s 1s ease-out forwards;
}

/******** Screen ********/

.laptop .screen {
    position:relative ;
    width :15rem;
    height:10rem;
    background-color:#1c1c1c;
    border:0.5rem solid  #222;
    border-radius:4px;
    transform-origin: 50% 100% ;
    transform: rotate3d(1,0,0,-90deg);
    animation: 
        screen 1s 1s ease-out forwards ;
}

/******** Wallpaper ********/

.laptop .screen .wallpaper {
    position:relative ;
    width :100%;
    height:100%;
    background:linear-gradient(
        135deg,
        hsl(220,80%,60%),
        hsl(220,80%,30%)
    );
    opacity:0;
    border-radius:0px;
    animation: 
        wallpaper 0.4s 2s ease-out forwards;
}

.laptop .screen .wallpaper::before {
    position:absolute;
    content:"";
    left:50%;
    bottom:0rem;
    width:100%;
    height:0.5rem;
    transform:translate(-50%);
    background-color:#fff5;
}

.laptop .screen .wallpaper::after {
    position:absolute;
    content:"";
    right:0.5rem;
    bottom:1rem;
    width:0.5rem;
    height:0.5rem;
    border-radius:0.15rem;
    background-color:#fff5;
}

/******** Terminal ********/

.laptop .screen .wallpaper .terminal {
    position:absolute;
    top:10%;
    left:5%;
    width:75%;
    height:60%;
    background-color:#222;
    border-radius:4px;
    border-top:8px solid #555;
    font-size:0.5rem;
    color:#fff;
    font-family:monospace;
    padding:0.25rem;
}

.laptop .screen .wallpaper .terminal::before {
    color:#fff;
    content:"> ";
    animation:
        typing 4s 2.5s linear alternate infinite;
}

/******** Keyboard ********/ 

.laptop .keyboard {
    position:relative;
    width:15rem;
    height:10rem;
    background-color:#222;
    transform-origin: 50% 0% ;
    border-radius:4px;
    transform:rotate3d(1,0,0,90deg);
    animation:
        keyboard 1s 1s ease-out forwards;
}

.laptop .keyboard::before {
    position:absolute;
    content:"";
    top:0.5rem;
    left:0.5rem;
    width:calc(100% - 1rem);
    height:calc(70% - 1rem);
    background-color:#333;
    border-radius:4px;
}

.laptop .keyboard::after {
    position:absolute;
    content:"";
    bottom:0.5rem;
    left:50%;
    width:30%;
    height:25%;
    background-color:#333;
    border-radius:4px;
    transform:translateX(-50%);
}

/* Keyframes for Animations */

@keyframes shadow{
    100% { opacity:1 }
}

@keyframes screen {
    0%   { transform:rotate3d(1,0,0,-90deg) }
    100% { transform:rotate3d(1,0,0,  0deg) }
}

@keyframes wallpaper {
    0%   { opacity:0 }
    100% { opacity:1 }
}

@keyframes keyboard {
    0%   { transform:rotate3d(1,0,0,90deg) }
    100% { transform:rotate3d(1,0,0,70deg) }
}

@keyframes laptop {
    0%   { transform:scale(0.5) }
    100% { transform:scale(1.0) }
}

@keyframes typing {
  0%   { content: "> "; }
  5%   { content: "> _"; }
  10%  { content: "> "; }
  15%  { content: "> _"; }
  20%  { content: "> W_"; }
  25%  { content: "> We_"; }
  30%  { content: "> Wel_"; }
  35%  { content: "> Welc_"; }
  40%  { content: "> Welco_"; }
  45%  { content: "> Welcom_"; }
  50%  { content: "> Welcome_"; }
  55%  { content: "> Welcome t_"; }
  60%  { content: "> Welcome to_"; }
  65%  { content: "> Welcome to _"; }
  70%  { content: "> Welcome to A_"; }
  75%  { content: "> Welcome to Ah_"; }
  80%  { content: "> Welcome to Ahu_"; }
  85%  { content: "> Welcome to Ahub_"; }
  90%  { content: "> Welcome to Ahub"; }
  95%  { content: "> Welcome to Ahub_"; }
  100% { content: "> Welcome to Ahub"; }
}

@media (max-width: 768px) {
  .wrapper {
    top: 70%;
    left: 180px;
  }

  .laptop {
    transform: scale(0.3);
  }
}



@media (max-width: 480px) {
  .wrapper {
    top: 60%;
    left: 170px;
  }

  .laptop {
    transform: scale(0.3);
  }
}


  /* Courses Section */
  #courses {
    padding: 5rem 0;
  }
  /* #courses h2{
    margin-bottom: 100px;
  } */
  .border-left{
    background-color: var(--primary-color);
    padding: 1px;
    margin-right: 5px;
  }
  #courses  .card {
    margin-bottom: 2rem;
    
    
  }
  #courses  .card:hover{
    transform: scale(1.2);
  }
  .course-icon{
    margin-left: 160px;
  }
  #courses  .card-title{
    text-align: center;
    align-items: center;
  }
  #courses  .card-body{
    transition: transform 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
   
  }
  

  #courses  .card-body:hover{
    transform: scale(1.2);
    z-index: 1;
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(106, 90, 205, 0.9);
  }
  #courses  .card-body.zoomed {
    transform: scale(1.5);
    z-index: 2;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  
  /* testimonial */
  .testimonials{
    /* background-color: #f7f7f7; */
    
    }
    .testimonials h2{
        font-size: 24px;
        font-weight: 400px;
        margin-bottom: 20px;
        /* margin-left: 30%; */

    }
    .testimonial-container{
       
        margin-bottom: 20px;
    }
    .testimonial{
        display: none;
        position: relative;
        width: 80%;
        max-width: 600px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        padding: 2rem;
        text-align: center;
        margin: 0 auto;
       
       transition: opacity 0.5s ease-in-out;
        
    }
    .testimonial.active{
      
        display: block;
    }
    .testimonial:before{
        content: '\201C';
        display: block;
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translate(-50%);
        font-size: 5rem;
        color: #ccc;
    }
    .testimonial img{
        border-radius: 50%;
        height: 100px;
        margin-bottom: 20px;
    }
    
    .testimonial p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .testimonial cite {
        font-size: 1em;
    }
    
    @media (max-width: 768px)  {
        .testimonial{
            width: 60%;
        }
        
    }
    @media (max-width: 576px){
        .testimonial{
            width: 70%;
        }
    }
  
  /* Apply Section */
  #intern-apply {
    padding: 5rem 0;
  }
  
  /* Footer */
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 1.5rem 0;
  }
  
  /* Responsive Styles */
  @media (max-width: 767.98px) {
    .hero h1 {
      font-size: 2rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  
    .carousel-item .card {
      width: 90%;
    }
  }
  
  @media (max-width: 575.98px) {
    .hero h1 {
      font-size: 1.5rem;
    }
  
    .hero p {
      font-size: 0.9rem;
    }
  
    .carousel-item .card {
      width: 100%;
    }
  }

  #intern-login .for-intern{
    padding:10px 50px;
    /* margin-left: 10%; */
    background-color:  var(--primary-color);
    border: 1px solid  var(--primary-color);
    color: #fff;
    font-weight: lighter;
    border-radius: 0;
    box-shadow: 0px 2px 4px rgba(106, 90, 205, 0.9);
  }
  #intern-login .for-intern:hover{
    background:  rgba(106, 90, 205, 1) ;
    border: 1px solid  rgba(106, 90, 205, 1) ;
    color: #fff; 
    }
    footer .social-links a i{
      margin: 10px;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      color: var(--secondary-color);
      }

      footer .social-links a:hover{
        background: rgba(103, 99, 99, 0.1);
        border-radius: 50%;
        padding: 10px 5px;
      }

     
      .intern-text{
        font-size: 1.5rem;
        font-weight: lighter;
      }