<!-- login.html -->
{% load static%}
<head>
	<title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .login-form{
            margin-top: 10%;
        }
    </style>
</head>

<body>
	
	<div class="login-form">
        <center><h2 class="login-header">LOGIN HERE</h2></center>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %} 
	<form id="myForm" method="POST" action="">
    {% csrf_token %}
	<div  class="emailogin">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" placeholder="Enter Username">
    </div>
	<div  class="passwordlogin">
        <label for="password">Password:</label>
        <input type="password" name="password"class="form-control" placeholder="Enter Password">
    </div>
   
	<div class="loginbtn">
        <button type="submit" class="btn btn-primary" value="Login" id="submit">Login</button>
    </div>
	<div class="fpassword">
        <a href="{% url 'reset_password'%}" >Forgot password?</a>
    </div>
	<div class="noaccount">
        <a href="{% url 'registration_form'%}" >Don't have an account yet?</a>
    </div>
	
</form>
	</div>

</body>

