{% extends 'main.html' %}

{% block content %}
{% block navbar %}
{% endblock %}
  <div class="reset">
    <div class="reset-container">
    <h2>Reset Password</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <form method="POST" action="{% url 'reset_password' %}">
    {% csrf_token %}
  
   <div class="reset-email"> {{ form.email }}</div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>
  </div>
{% endblock %}
